[package]
name = "am"
version = "0.5.4"
edition = "2021"

description = "A beautiful and feature-packed Apple Music CLI"
categories = ["command-line-utilities"]
keywords = ["apple", "macos", "music", "apple-music"]
authors = ["Ryan Cao <hello@ryanccn.dev>"]
license = "GPL-3.0-only"
homepage = "https://github.com/ryanccn/am"
repository = "https://github.com/ryanccn/am.git"

[dependencies]
async-trait = "0.1.83"
chrono = "0.4.38"
clap = { version = "4.5.21", features = ["derive"] }
clap_complete = "4.5.37"
color-eyre = "0.6.3"
crossterm = "0.28.1"
owo-colors = "4.1.0"
regex = "1.11.1"
reqwest = { version = "0.12.9", features = ["rustls-tls", "json", "brotli"], default-features = false }
serde = { version = "1.0.215", features = ["derive"] }
serde_json = "1.0.133"
thiserror = "2.0.3"
tokio = { version = "1.40.0", features = ["full"] }
uuid = { version = "1.11.0", features = ["v4"] }

[lints.clippy]
all = { level = "warn", priority = -1 }
pedantic = { level = "warn", priority = -1 }
perf = { level = "warn", priority = -1 }

module_name_repetitions = "allow"

[lints.rust]
unsafe_code = "forbid"
