[package]
name = "am"
version = "0.5.0"
edition = "2021"

description = "A beautiful and feature-packed Apple Music CLI"
authors = ["Ryan Cao <hello@ryanccn.dev>"]
license = "GPL-3.0-only"
repository = "https://github.com/ryanccn/am.git"

[dependencies]
anyhow = "1.0.75"
async-trait = "0.1.74"
chrono = "0.4.31"
clap = { version = "4.4.7", features = ["derive"] }
clap_complete = "4.4.4"
crossterm = "0.27.0"
owo-colors = "3.5.0"
reqwest = { version = "0.11.22", features = [
    "rustls-tls",
    "serde_json",
    "json",
    "brotli",
], default-features = false }
serde = { version = "1.0.190", features = ["derive"] }
serde_json = "1.0.107"
thiserror = "1.0.50"
tokio = { version = "1.33.0", features = ["full"] }
uuid = { version = "1.5.0", features = ["v4"] }
