name: Build

on:
  push:
    branches: ["main"]
    tags-ignore:
      - "**"
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target:
          - "x86_64-apple-darwin"
          - "aarch64-apple-darwin"
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: Setup Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Build
        run: cargo build -r --target ${{ matrix.target }} --locked
        env:
          RUSTFLAGS: "-C lto=fat -C embed-bitcode=yes -C strip=symbols -C codegen-units=1 -C opt-level=z"

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: am-${{ matrix.target }}
          path: ./target/${{ matrix.target }}/release/am
